#header{
    height: 200px;
    background-color: #00f;
}
#main{
    height: 500px;
    background-color: #3f0;
}
#sub{
    height: 500px;
    background-color: #e7f;
}
#footer{
    height: 500px;
    background-color: #037;
}